*{
  margin: 0;
  padding: 0;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
  display: flex;
  background-color: None;
}

.flex-container div {
  background-color: None;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  margin-bottom: 50px;
}
.logo{
    float: left;
    padding-left: 2em;

}
.logo img {
    width: 200px;
    height: 45px;
}
header {
  height: 3rem;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  display: flex;
  flex: 1 0 1;
  line-height: 3em;
  z-index: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: 2;
  box-shadow: 0 5px #2791a3
  ;
}
header ul {
  list-style: none;
  display: flex;
  padding-right: 2em;
}
header li {
  display: flex;
}
header a {
  cursor: pointer;
  padding: 0 2em;
  background: rgb(255, 255, 255);
}
header a:hover {
  color: #2791a3;
  background: white;
  font-weight: bold;
}

.button{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.137);
    padding: 10px 30px;
    border-style: none;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    background-color: #2791a3;
    opacity: 0.6;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2{
  float: right;
  margin-right: 50px;
  margin-bottom: 50px;
}
.button:hover{
  background-color: #fff;
  border: 1px solid #2791a3;
  color:#2791a3;
}
.button:active {
  background-color: #2791a3;
  box-shadow: 0 5px #666;
  transform: translateY (4px);
  color: #fff;
  opacity: 100;
}
a{
  text-decoration: none;
  color: black;
}
.clear-floats { clear: both; }
h1 {
    font-size: 5em;
    color: #FFFFFF;
  }
h2 {
    font-size: 3em;
    color: #2791a3;
  }
  h3 {
    font-size: 2em;
    color: #2791a3;
  }
  h4{
    font-size: 1em;
    color: black;
    font-weight: bold;
  }
  h5{
    font-size: 1em;
    color: black;
    font-weight: lighter;
  }
  .home-1 {
    height: 700px;
    background-image: url("./images/HomePageHeroImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .home-1-heading {
    justify-content:right;
    width: 60vw;
    z-index: 1;
  }
  .background-box{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-position: right;
    margin-right: 20px;
  }
  .image div{
    display: inline-block;
    width: 49%;
    padding: 5px;
    height: 500px;
    margin-bottom: 20px;
}
.column{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.margin-left{
  margin-left: 40px;
  }
  footer{
    height: 100px;
    width: 100%;
    background-color: #41c1d1;
    font-family: sans-serif;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  footer ul{
    width: 15%;
    display: flex;
    justify-content: space-around;
  }
  #categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "project 1"
    "Mennonite"
    ;
  }

  /* Skill Section */

  .skillsSection {
      display: flex;
      padding: 100px 20px;
      text-align: center;
  }

  .skillsSection div {
      padding:30px;
  }

  @media only screen and (max-width: 900px) {
    .skillsSection {
      flex-direction: column-reverse;
    }
  }

  @media only screen and (max-width: 500px) {
   nav {
    display: hidden;
   }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 24px;
    }
    body {
      background-color: #FFFFFF;
    }
    .project1 {
      display: flex;
      flex-direction: column;
    }
    
    #categoryGrid {
      grid-template-rows: 300px 300px 300px
      300px 300px;
      grid-template-columns: 1fr;
      grid-template-areas:
      "project 1"
      "Mennonite"
    }
    }
    